@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Amazing Race</h1>
</div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Events</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Live Event", "LiveEventIndex", "Home")</li>
                <li><a href="#">Upcoming Event</a></li>
            </ul>
        </div>
    </nav>
