@{
    ViewBag.Title = "Real-time Location Tracking";
}
<style type="text/css">
    .map {
        border: #555555 2px solid;
        position: relative;
        height: 490px;
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="row" style="margin-top: 20px;">
    <div class="map" id="mapDiv"></div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Ys2MzFJI-SyPozsev1gNUJapRLsGqOE"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            myMap();
        });
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(1.281766, 103.818346),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            }
            var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
            var marker;
            var gmarkers = [];
            var hashMarkers = {};
            var hashMarkerColor = {};
            var hub;
            //setCurrentLocation();
            setupSignalR();

            function drawPolyLine(name) {
                if (hashMarkers[name]) {
                    var linepath = [];
                    hashMarkers[name].forEach(function (hmarker) {
                        linepath.push(hmarker.getPosition());
                    });
                    var polyLine = new google.maps.Polyline({
                        path: linepath,
                        geodesic: true,
                        strokeColor: hashMarkerColor[name],
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    polyLine.setMap(map);
                }
            }

            function drawPointOnMap(lt, lg, title, num, time) {
                var name = title + num;
                var colors = ['#FF0000', '#00FF00', '#0000FF', '#FFFF00', '#008000', '#00FFFF',
                    '#000080', '#808000', '#9B59B6', '#3498DB', '#1ABC9C', '#FF00FF', '#D35400'];
                var location = new google.maps.LatLng(lt, lg);
                var pitStopIcon = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                var staffIcon = 'http://maps.google.com/mapfiles/ms/icons/blue.png';
                marker = new google.maps.Marker({
                    'position': location,
                    'map': map,
                    'label': num,
                    'title': name
                });
                if (title == 'Team') {
                    if (hashMarkers[name]) {
                        hashMarkers[name].push(marker);
                    } else {
                        hashMarkers[name] = new Array();
                        hashMarkerColor[name] = colors[Math.floor(Math.random() * colors.length)];
                        hashMarkers[name].push(marker);
                    }
                    drawPolyLine(name);
                }
                var flag = false;
                if (gmarkers != null) {
                    gmarkers.forEach(function (gmarker) {
                        if (gmarker.title == marker.title) {
                            gmarker.setMap(null);
                            flag = true;
                            gmarkers.splice(gmarkers.indexOf(gmarker), 1, marker);
                        }
                    });
                    if (!flag) {
                        gmarkers.push(marker);
                    }
                }
                if (title == 'Staff') {
                    marker.setIcon(staffIcon);
                } else if (title == 'PitStop') {
                    marker.setIcon(pitStopIcon);
                }
                addInfoWindow(marker, name + ' time: ' + time);
                marker.setMap(map);
                //map.panTo(location);
            }

            function setCurrentLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        map.setCenter(pos);
                    }, function () {
                        console.log('Error: The Geolocation service failed.');
                    });
                } else {
                    console.log('Error: Your browser doesn\'t support geolocation.');
                }
            }

            function addInfoWindow(marker, message) {
                marker.addListener('click', function () {
                    var infoWindow = new google.maps.InfoWindow({
                        content: message
                    });
                    infoWindow.open(map, marker);
                });
            }

            function setupSignalR() {
                connection = $.hubConnection();
                hub = connection.createHubProxy('mappingHub');
                hub.on('locationReceived', function (l) {
                    drawPointOnMap(l.Latitude, l.Longitude, l.Title, l.Number, l.Time);
                });
                connection.start(function () {
                    console.log('connection started');
                });
            }
        }
    </script>
}